@{
    ViewData["Title"] = "Rankings";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">This is the page where you can see the rankings of various authors.</p>    

    <select class="browser-default custom-select custom-select-lg">
        <option selected>By Score</option>
        <option value="1">By Number Of Articles</option>        
    </select>
</div>
