@model RankingViewModel

@{
    ViewData["Title"] = "Rankings";

    var by = ViewData["By"];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">This is the page where you can see the rankings of various authors.</p>
    <h5>@by</h5>
</div>
